body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    min-width: 1300px;
  }

/* navigation bar design */
.nav-bar-container {
    height: 50px;
    min-width: 1300px;
    padding: 10px 40px 10px 0;
    border-width: 0px;
    font-size: 20px;
    align-content: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: SlateGray;
    color: Azure;
  }
  
  .brand-container a, .type-container a, .product-container a, .contact-container a{
      font-weight: 600;
      margin: auto 20px;
  }

  /*nav dropdown list item*/
  .nav-dropdown-item {
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-grow: 1;
      min-width: 1300px;
  }
  
  .subnav-item{
      display:flex;
      justify-content: center;
      align-items: center;
      padding:30px 60px;
  }

.item-block{
      display: flex;
      justify-content: flex-start;
  }

.font-item{
    display: block;
    margin-top:10px;  
    font-size: 24px;
}

  .item-img{
      display: block;
      max-width: 130px;
      display: block;
  }
  
  a.item-block-link{
      text-decoration:none;
  }

  /* Top left website logo */
.logo{
    float: left;
    padding: 0 10px 0 10px;
  }
  
  /* nav part on left */
  .left-nav{
    float: left;
    padding: 10px 10px 0 10px;
    min-width:40px;
    text-decoration: none;
    color: Azure;
    height: 50px;
  }
  
  /* change nav text color to  */
  .left-nav:hover{
    background-color: azure;
    color: black;
  }
  
  /* nav part on right */
  .right-nav{
    margin: 10px 0px;
    float: right;
    text-decoration: none;
    color: Azure;
  }

  .right-nav-item{
      margin:auto 0 auto 50px;
      display:inline-block;
  }
  
  .brand-dropdown-content, .type-dropdown-content {
    color: black;
    top: 70px;
    display: none;
    position: absolute;
    background-color:rgb(240, 245, 255);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin:auto;
  }
  
  .brand-container:hover .brand-dropdown-content{
    display: block;
  }
  
  .type-container:hover .type-dropdown-content{
    display: block;
  }


/* footer */
/* contact part */
#contact {
    display:block;
  background-color: SlateGray;
  min-width:1300px;
  position:relative;

}

#contact-text{
	display:block;
	position:relative;
	text-align: left;
	color: Azure;
	margin: auto 0;
  padding: 40px 100px;
}

/*contact heading*/
#contact-text h2{
  font-size: 40px;
  font-weight: 600;
  padding: 20px 0;
  margin: 0;
}

/* remove default p paddSing for contact */
#contact-text p{
  line-height: 1.8;
  font-size: 20px;
  font-weight: 500;
}

/*alert*/
.alert{
  padding: 10px;
  background-color: #fcaca64d;
  border: 3px solid rgb(212, 92, 92);
  border-radius: 20px;
  color: rgb(212, 92, 92);
  margin-bottom: 15px;
  text-align: left;
  font-weight: 600;
}

/*success*/
.success{
  padding: 10px;
  background-color: #a6fdc34d;
  border: 3px solid rgb(92, 212, 166);
  border-radius: 20px;
  color: rgb(64, 185, 111);
  margin-bottom: 15px;
  text-align: left;
  font-weight: 600;
}