body {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
  }

.image-and-selector {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 20px 30px 0 0;
}

.pic-thumbnail {
    padding-right: 5px;
    padding-top: 5px;
}

#product_big_picture {
    width: 100%;
    height: 100%;
}

.text-title-part {
    display: inline-block;
    width: 46%;
}

.price {
    font-size: 40px;
}

button { /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#cart-button {
    background-color:orange;
}

#buy-now-button{
    background-color:#008CBA;
}

td{
    border: 1px solid black;
    padding: 5px;
}

